body {
    background-image: url('../images/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    color: palegoldenrod;
    height: 100%;
    padding: 5%;
}

.clsTop {
    margin-top: 10%;
    margin-bottom: 0%;
}

.clsHeader{
    background:transparent;
    color:darkgoldenrod;
    font-size: 500%;
}

.styleCharacterImg {
    width: 90%;
}

.styleCharacterDiv {
    border: 3px solid green;
    color: aliceblue;
    width:22%;
    text-align:center;
    background-color: transparent;
}

.styleCharacterHeader {
    margin: 0%;
}

#idAttack, #idReset {
    font-weight: bolder;
}

#idYourCharacter, #idEnimiesAvailable, #idDefender{
    margin-top: 1%;
}
